<div class="row form-div-padding">
  <div class="col">
    <strong>Resultados previos y actuales de laboratorio y/o gabinete</strong>
    <textarea type="number"
    name="resPreviosLab"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;"
    cols="40"
    rows="5"></textarea>
  </div>
</div>
<div class="row form-div-padding">
  <div class="col">
    <strong>Analisis y comentarios</strong>
    <textarea type="number"
    name="analisisYComent"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;"
    cols="40"
    rows="5"
    ></textarea>
  </div>
</div>
<div class="row form-div-padding">
  <div class="col">
    <strong>Impresión diagnostica</strong>
    <textarea type="number"
    name="impDiagnost"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;"
    cols="40"
    rows="5"></textarea>
  </div>
</div>
<div class="row form-div-padding">
  <div class="col">
    <strong>Tratamiento</strong>
    <textarea type="number"
    name="tratamiento"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;"
    cols="40"
    rows="5"
    ></textarea>
  </div>
</div>
<div class="row form-div-padding">
  <div class="col">
    <strong>Realizó</strong>
    <input type="text"
    name="realizo"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;">
  </div>
  <div class="col">
    <strong>Cedula Profesional</strong>
    <input type="text"
    name="cedulaProfesional"
    class="form-control"
    size="15"
    maxLength="15"
    style="max-width: 100%;">
  </div>
</div>
