  <div class="row form-div-padding" *ngFor="let antecedente of antecedentesHdoFamiliares; let i = index">
    <div class="col">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="familiar{{i}}" id="familiar{{i}}" value="Paterno" [(ngModel)]="antecedente.familiar"> <!--paterno/materno-->
        <label class="form-check-label" [for]="'familiar'+i">Paterno</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="familiar{{i}}" id="familiar{{i}}" value="Materno" [(ngModel)]="antecedente.familiar">
        <label class="form-check-label" [for]="'familiar'+i+1">Materno</label>
      </div>
    </div>

    <div class="col">
      <label>Parentesco</label>
      <input type="text"
      name="parentesco"
      placeholder="E.j. 42064"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="antecedente.parentesco">
    </div>

    <div class="col">
      <label>Morbilidad</label>
      <input type="text"
      name="morbilidad"
      placeholder="E.j. 42064"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="antecedente.morbilidadFamilar">
    </div>

    <div class="col">
      <div *ngIf="i===0">
        <button (click)="agregarInput()" class="btn btn-outline-primary btn-sm">Agregar</button>
      </div>
      <div *ngIf="i>=1">
        <!-- agregar identificadores para eliminar por posicion -->
        <button (click)="eliminar(i)" class="btn btn-outline-primary btn-sm">Eliminar</button>
      </div>
    </div>
  </div>
