<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- <div class="container-fluid"> -->
  <a class="navbar-brand" href="#">
    <img src="assets/logo_small.png" alt="Logotipo" style="height: 50px; padding-left: 25%;">
  </a>

  <ul class="navbar-nav mr-auto">
    <a routerLink="" routerLinkActive="active" class="nav-link" >{{nombreApp}}</a>
    <!-- <li class="nav-item"> -->
    <!-- </li> -->

    <!-- <li *ngFor="let menu of listaMenus;" class="nav-item dropdown">
      <a class="{{menu.clase}}" href="{{menu.path}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{menu.nombreMenu}}</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="{{menu.submenuClase}}" routerLink="menu.submenuPaths" routerLinkActive="active">{{menu.nombreSubmenu}}</a></li>
      </ul>
    </li> -->

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Consulta
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="consulta/nueva" routerLinkActive="active">Nueva consulta</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Paciente
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="consulta/pacientes/buscar" routerLinkActive="active">Busqueda paciente</a></li>
        <li><a class="dropdown-item" routerLink="consulta/recetas/reimprimir" routerLinkActive="active">Reimpresion receta</a></li>
        <li><a class="dropdown-item" routerLink="consulta/citas/reagendar" routerLinkActive="active">Reagendar cita medica</a></li>
        <li><a class="dropdown-item" routerLink="consulta/expediente" routerLinkActive="active">Consultar expediente</a></li>
        <li><a class="dropdown-item" routerLink="consulta/agenda" routerLinkActive="active">Revisar agenda</a></li>
        <!-- Agregar más elementos de submenú si es necesario -->
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Censos
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="consulta/censos/general" routerLinkActive="active">General</a></li>
        <li><a class="dropdown-item" routerLink="consulta/censos/ha" routerLinkActive="active">H.A.</a></li>
        <li><a class="dropdown-item" routerLink="consulta/censos/emb" routerLinkActive="active">Embarazadas</a></li>
        <li><a class="dropdown-item" routerLink="consulta/censos/cron" routerLinkActive="active">Cronicos</a></li>
        <!-- Agregar más elementos de submenú si es necesario -->
      </ul>
    </li>

  </ul>
  <!-- </div> -->
</nav>
