<div class="row form-div-padding">
  <h1>Alta de Personal</h1>
    <div class="col">
      <div class="form-check form-check-inline">
        <strong>Fecha de consulta</strong>
        <input type="text"
              name="fechaConsulta"
              class="form-control"
              style="max-width: 100%;"
              [ngModel]="fechaFormateada"
              (ngModelChange)="actualizarFecha($event)"
              placeholder="dd/MM/yyyy"
          >
      </div>

      <div class="form-check form-check-inline">
        <strong>Fecha de consulta</strong>
        <input type="text"
              name="fechaConsulta"
              class="form-control"
              style="max-width: 100%;"
              [ngModel]="fechaFormateada"
              (ngModelChange)="actualizarFecha($event)"
              placeholder="dd/MM/yyyy"
          >
      </div>

      <div class="form-check form-check-inline">
        <strong>Fecha de consulta</strong>
        <input type="text"
              name="fechaConsulta"
              class="form-control"
              style="max-width: 100%;"
              [ngModel]="fechaFormateada"
              (ngModelChange)="actualizarFecha($event)"
              placeholder="dd/MM/yyyy"
          >
      </div>

      <div class="form-check form-check-inline">
        <strong>Fecha de consulta</strong>
        <input type="text"
              name="fechaConsulta"
              class="form-control"
              style="max-width: 100%;"
              [ngModel]="fechaFormateada"
              (ngModelChange)="actualizarFecha($event)"
              placeholder="dd/MM/yyyy"
          >
      </div>

      <div class="form-check form-check-inline">
        <strong>Fecha de consulta</strong>
        <input type="text"
              name="fechaConsulta"
              class="form-control"
              style="max-width: 100%;"
              [ngModel]="fechaFormateada"
              (ngModelChange)="actualizarFecha($event)"
              placeholder="dd/MM/yyyy"
          >
      </div>
  </div>
</div>
