<div class="row form-div-padding">
  <h1>Nueva consulta odontologia</h1>

  <div class="container">
    <!-- <button #buttonRef class="btn btn-primary"
            (mouseenter)="toolTipElement.nativeElement.classList.add('show')"
            (mouseleave)="toolTipElement.nativeElement.classList.remove('show')">
      Hover me
    </button>

    <div #tooltipRef class="tooltip-container" role="tooltip">
      Este es un tooltip flotante.
      <div class="arrow" data-popper-arrow></div>
    </div> -->

    <button class="btn btn-primary" (click)="cargarModal()">modal</button>
  </div>

  <!-- modal.component.html -->
<!-- <div class="container"> -->
  <!-- Botón que abre el modal -->
  <!-- <button #triggerRef class="btn btn-primary" (click)="toggleModal()">Abrir Modal</button> -->

  <!-- Modal -->
  <!-- <div *ngIf="isModalVisible" #modalRef class="modal-container">
    <div class="modal-content">
      <button class="btn-close" (click)="toggleModal()"></button>
      <app-busqueda-paciente></app-busqueda-paciente>
    </div>
  </div>
</div> -->



  <mat-tab-group dynamicHeight>
    <mat-tab label="Hoja Frontal">
      <p>Hoja frontal</p>
      <app-odonto-hoja-front></app-odonto-hoja-front>
    </mat-tab>
    <mat-tab label="Ant. Hedo fam.">
      <p>Ant. Hedofam.</p>
      <app-odonto-ant-hfam></app-odonto-ant-hfam>
    </mat-tab>
    <mat-tab label="Ant. Personales">
      <p>Ant. Personales</p>
      <app-odonto-ant-per></app-odonto-ant-per>
    </mat-tab>
    <mat-tab label="Observaciones">
      <app-odonto-observaciones></app-odonto-observaciones>
    </mat-tab>
  </mat-tab-group>
