  <div class="row form-div-padding">

    <div class="col">
      <label>Tipo de consulta</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="tipoConsulta" value="Primera vez" [(ngModel)]="informacionPx.tipoConsulta">
        <label class="form-check-label" for="inlineRadio1">Primera Vez</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="tipoConsulta" value="Subsecuente" [(ngModel)]="informacionPx.tipoConsulta">
        <label class="form-check-label" for="inlineRadio2">Subsecuente</label>
      </div>
    </div>

    <div class="col">
      <label>¿Es derechohabiente?</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="derechoHabiente" id="derechoHabiente" value="S" [(ngModel)]="informacionPx.esDerechoHabiente">
        <label class="form-check-label" for="inlineRadio3">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="derechoHabiente" id="derechoHabiente" value="N" [(ngModel)]="informacionPx.esDerechoHabiente" (onClick)="limpiaDerechoHabiencia('')">
        <label class="form-check-label" for="inlineRadio4">No</label>
      </div>
    </div>

    <div class="col" *ngIf="informacionPx.esDerechoHabiente === 'S'">
      <label>Derechohabiencia</label><br>
      <select name="derechoHabienciaCombo"
        id="derechoHabienciaCombobox"
        class="form-select form-select-sm"
        style="max-width: 100%;"
        [(ngModel)]="informacionPx.derechoHabiencia">
        <option value="0">-- SELECCIONE --</option>
        <option value="1">IMSS</option>
        <option value="2">ISSSTE</option>
        <option value="3">PEMEX</option>
        <option value="4">OTRO</option>
      </select>
    </div>

    <div class="col" *ngIf="informacionPx.derechoHabiencia==='4'">
      <label>Especificar derechohabiencia</label>
      <input type="text"
      name="derechoHabiencia"
      placeholder="Especificar derechohabiencia"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="informacionPx.otraDerechoHabiencia">
    </div>

    <div class="col" *ngIf="informacionPx.esDerechoHabiente === 'S' && informacionPx.derechoHabiencia != null && informacionPx.derechoHabiencia != '0'" >
      <label>NSS</label>
      <input type="text"
      name="nss"
      placeholder="Derechohabiencia"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="informacionPx.nss">
    </div>

  <div class="row form-div-padding">
    <div class="col">
      <label>Primer nombre</label>
      <input type="text"
      name="nombrePropio1"
      placeholder="Primer nombre"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="informacionPx.nombrePropio1">
    </div>

    <div class="col">
      <label>Segundo nombre</label>
        <input type="text"
        name="nombrePropio2"
        placeholder="Segundo nombre"
        class="form-control"
        maxLength="20"
        style="max-width: 100%;"
        [(ngModel)]="informacionPx.nombrePropio2">
    </div>


    <div class="col">
      <label>Apellido Paterno</label>
      <input type="text"
      name="apellidoPaterno"
      placeholder="Apellido paterno"
      class="form-control"
      maxLength="20"
      style="max-width: 70%;"
      [(ngModel)]="informacionPx.apellidoPaterno">
    </div>
  </div>

  <div class="row form-div-padding" style="padding-top: 0.5%;">
    <div class="col">
      <label>Apellido Materno</label>
      <input type="text"
      name="apellidoMaterno"
      placeholder="Apellido Materno"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="informacionPx.apellidoMaterno">
    </div>

    <div class="col">
      <label>Nacionalidad</label>
      <input
      name="nacionalidad"
      placeholder="Nacionalidad"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.nacionalidad"
      type="text"
      style="max-width: 100%;">
    </div>

    <div class="col">
      <label>Edad</label>
      <input
      name="edad"
      placeholder="edad"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.edad"
      type="number"
      style="max-width: 100px;"
      value="10">
    </div>

    <div class="col">
      <label>Genero </label><br>
      <div class="form-check form-check-inline" >
        <input class="form-check-input" type="radio" name="genero" id="masculino" value="M" [(ngModel)]="informacionPx.genero">
        <label class="form-check-label" for="genero1">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="genero" id="femenino" value="F" [(ngModel)]="informacionPx.genero">
        <label class="form-check-label" for="genero2">Femenino</label>
      </div>
    </div>

    <div class="col">
      <label>Meses</label>
      <input
      name="edad"
      placeholder="edad"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.meses"
      type="number"
      style="max-width: 100px;">
    </div>

  </div>
  <div class="col">
  </div>
  <div class="col"></div>
  <div class="col"></div>

  <div class="row form-div-padding">
    <div class="col">
      <mat-form-field class="form-control mb-2" style="max-width: 100;">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="informacionPx.fechaNacimiento" name="fechaNacimiento">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col">
      <label>CURP</label>
      <input
      name="curp"
      placeholder="CURP"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.curp"
      type="text"
      style="max-width: 100%;">
    </div>

    <div class="col">
      <label>Motivo de consulta</label>
      <input
      name="motivoConnsulta"
      placeholder="Motivo consulta"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.motivoConsulta"
      type="text"
      style="max-width: 100%;">
    </div>

    <div class="col">
      <label>Folio</label>
      <input
      name="folioPaciente"
      placeholder="Folio"
      class="form-control mb-2"
      size="15"
      maxLength="15"
      [(ngModel)]="informacionPx.folioPaciente"
      type="text"
      style="max-width: 65%;">
    </div>
  </div>

  <div class="col">
    <label>¿Cuenta con cartilla de vacunacion?</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="cuentaConCartilla" id="tieneCartilla" value="true" [(ngModel)]="informacionPx.cuentaConCartilla">
      <label class="form-check-label" for="inlineRadio5">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="cuentaConCartilla" id="tieneCartilla" value="false" [(ngModel)]="informacionPx.cuentaConCartilla">
      <label class="form-check-label" for="inlineRadio6">No</label>
    </div>
  </div>
