<form>
  <div class="form-div-padding">
    <h1>Buscar paciente</h1>

    <div class="row" style="padding-top: 0.5%;">
      <div class="col">
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" type="radio" name="inlineRadioOptions" id="folio" value="folio" [(ngModel)]="option" #folioRadioButton>
          <label class="form-check-label" for="inlineRadio1" >Folio</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" type="radio" name="inlineRadioOptions" id="nombre" value="nombres" [(ngModel)]="option">
          <label class="form-check-label" for="inlineRadio2" >Nombre</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" type="radio" name="inlineRadioOptions" id="localidad" value="localidad" [(ngModel)]="option">
          <label class="form-check-label" for="inlineRadio3" >Localidad</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" type="radio" name="inlineRadioOptions" id="curp" value="curp" [(ngModel)]="option">
          <label class="form-check-label" for="inlineRadio4" >CURP</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" type="radio" name="inlineRadioOptions" id="medicoTratante" value="medicotratante" [(ngModel)]="option">
          <label class="form-check-label" for="inlineRadio5" >Medico tratante</label>
        </div>
        <div class="form-check form-check-inline">
          <input (change)="borrarSearchTerm()" class="form-check-input" length="130px" type="radio" name="inlineRadioOptions" id="especialidad" value="especialidad" [(ngModel)]="option">
          <label class="form-check-label" for="inlineRadio6" >Especialidad</label>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 0.5%;">
      <div class="col">
        <input type="text"
        name="criterioBusquedaTexto"
        class="form-control"
        style="max-width: 100%;"
        [(ngModel)]="searchTerm">
        <br>
        <input type="submit" value="Buscar paciente" class="btn btn-outline-primary btn-sm" (click)="filterDataByCriteria(option,searchTerm)">
      </div>
    </div>

    <div class="row" style="padding-top:0.5%;">
      <div class="col">
        <p id="mensajeError" style="color:red"></p>
      </div>
    </div>
  </div>
</form>

<div *ngIf="data">
  <p style="text-align: center;"><strong>- RESULTADOS -</strong></p>
  <div class="form-div-padding">
    <table class="table table-striped table-hover table-sm text-center">
      <thead class="thead-dark">
        <th></th>
        <th>Folio</th>
        <th>Nombre(s)</th>
        <th>Ap. Paterno</th>
        <th>Ap. Materno</th>
        <TH>CURP</TH>
        <th>Localidad</th>
        <th>Edad</th>
        <th>Especialidad</th>
        <th>Medico Tratante</th>
        <th>Ultima visita</th>
      </thead>
      <tbody>

          <tr *ngFor="let resultado of filteredData">
            <!--Agregamos paginador en esta seccion-->
            <td><input (change)="onRadioChange(resultado)" type="radio" id="{{resultado.idPaciente}}" value="{{resultado.idPaciente}}" name="options"/></td>
            <td>{{resultado.folio}}</td>
            <td><a href="{{resultado.idPaciente}}" routerLinkActive="active">{{resultado.nombres}}</a></td>
            <td>{{resultado.apPaterno}}</td>
            <td>{{resultado.apMaterno}}</td>
            <td>{{resultado.curp}}</td>
            <td>{{resultado.localidad}}</td>
            <td>{{resultado.edad}}</td>
            <td>{{resultado.especialidad}}</td>
            <td>{{resultado.medicoTratante}}</td>
            <td>{{resultado.ultimaVisita}}</td>
          </tr>
      </tbody>
    </table>
    <pagination [boundaryLinks]="true"
      [directionLinks]="true"
      [totalItems]="contentArray.length"
      [itemsPerPage]="5"
      [previousText]="'Anterior'"
      [nextText]="'Siguiente'"
      [lastText]="'Ultimo'"
      [firstText]="'Primero'"
      (pageChanged)="pageChanged($event)"
    >
    </pagination>
    <button class="btn btn-outline-primary btn-sm" *ngIf="isConfirmed" (click)="sendMessageParent()">Agregar</button>
    <p>Nota: Al dar clic al nombre, debera redirigir a la hoja frontal del paciente buscado</p>
</div>
