<div class="row form-div-padding">
  <h2>Antecedentes ginecobstetricos</h2>
  <div class="col">
      <label>Menarca</label>
      <input type="text"
      name="fechaUltimaCitologia"
      placeholder="fechaUltimaCitologia"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="antecedentesGinecobstetricos.fechaUltimaCitologia">
  </div>

  <div class="col">
    <label>Inicio vida sexual</label>
    <input type="text"
    name="inicioVidaSexual"
    placeholder="Menarca"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.inicioVidaSexual">
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row form-div-padding">
  <div class="col">
    <label>Fecha de ultima regla</label>
    <input type="text"
    name="fechaUltimaRegla"
    placeholder="Menarca"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.fechaUltimaRegla">
  </div>

  <div class="col">
    <label>Fecha de ultima citologia</label>
    <input type="text"
    name="inicioVidaSexual"
    placeholder="Menarca"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;">
  </div>

  <div class="col">
    <label>Fecha de ultima parto</label>
    <input type="text"
    name="fechaUltimoParto"
    placeholder="Menarca"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.fechaUltimoParto">
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="nrUltimoParto" id="nrUltimoParto" value="NO RECUERDA" (click)="registraCheckbox ($event)">
    <label class="form-check-label" for="inlineRadio4">No recuerda</label>
  </div>
</div>

<div class="row form-div-padding">

  <div class="col">
    <label>Hijos vivos</label>
    <input type="number"
    name="hijosVivos"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.hijosVivos">
  </div>
  <div class="col">
    <label>Gestas</label>
    <input type="number"
    name="numGestas"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numGestas">
    <div class="text-danger" *ngIf="validarNumeroGestas()">
      <h6>{{mensaje}}</h6>
    </div>
  </div>
  <div class="col">
    <label>Abortos</label>
    <input type="number"
    name="numAborts"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numAborts">
  </div>
  <div class="col">
    <label>Partos</label>
    <input type="number"
    name="numPartos"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numPartos">
  </div>
  <div class="col">
    <label>Cesareas</label>
    <input type="number"
    name="numRitmo"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numCesareas">
  </div>
</div>
