<div class="row form-div-padding">
  <h2>Antecedentes ginecobstetricos</h2>
  <div class="col">
    <label>Inicio vida sexual</label>
    <input type="text"
    id="inicioVidaSexual"
    name="inicioVidaSexual"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    bsDatepicker
    [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD/MM/YYYY' }"
    [maxDate]="bsValue"
    [(ngModel)]="antecedentesGinecobstetricos.inicioVidaSexual">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="nrInicioVidaSexual" id="nrInicioVidaSexual" (click)="registraCheckbox($event,'inicioVidaSexual')">
      <label class="form-check-label" for="inlineRadio1">No recuerda</label>
    </div>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row form-div-padding">
  <div class="col">
    <label>Fecha de ultima regla</label>
    <input type="text"
    id="fechaUltimaRegla"
    name="fechaUltimaRegla"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.fechaUltimaRegla"
    bsDatepicker
    [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD/MM/YYYY' }"
    [maxDate]="bsValue">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="nrUltimaRegla" id="nrUltimaRegla" (click)="registraCheckbox ($event,'fechaUltimaRegla')">
      <label class="form-check-label" for="inlineRadio2">No recuerda</label>
    </div>
  </div>

  <div class="col">
    <label>Fecha de ultima citologia</label>
    <input type="text"
    id="fechaUltimaCitologia"
    name="fechaUltimaCitologia"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    bsDatepicker
    [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD/MM/YYYY' }"
    [maxDate]="bsValue"
    [(ngModel)]="antecedentesGinecobstetricos.fechaUltimaCitologia">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="nrFechaUltimaCitologia" id="nrFechaUltimaCitologia" (click)="registraCheckbox($event,'fechaUltimaCitologia')">
      <label class="form-check-label" for="inlineRadio3">No recuerda</label>
    </div>
  </div>

  <div class="col">
    <label>Fecha de ultima parto</label>
    <input type="text"
    id="fechaUltimoParto"
    bsDatepicker
    [bsConfig]="{ isAnimated: false, dateInputFormat: 'DD/MM/YYYY' }"
    [maxDate]="bsValue"
    [(ngModel)]="antecedentesGinecobstetricos.fechaUltimoParto"
    name="fechaUltimoParto"
    class="form-control"
    maxLength="20"
    style="max-width: 100%;">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="nrFechaUltimoParto" id="nrFechaUltimoParto" (click)="registraCheckbox($event,'fechaUltimoParto')">
      <label class="form-check-label" for="inlineRadio4">No recuerda</label>
    </div>
  </div>
</div>

<div class="row form-div-padding">

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="cbSinHijos" id="cbSinHijos" (click)="sinHijos($event)" [(ngModel)]="antecedentesGinecobstetricos.tieneHijos">
    <label class="form-check-label" for="inlineRadio4">No tiene hijos</label>
  </div>
  <br>
  <div class="col">
    <label>Hijos vivos</label>
    <input type="text"
    id="hijosVivos"
    name="hijosVivos"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.hijosVivos">
    <div class="text-danger" *ngIf="antecedentesForm.controls['hijosVivos'].invalid && (antecedentesForm.controls['hijosVivos'].dirty || antecedentesForm.controls['hijosVivos'].touched)">
      <div *ngIf="antecedentesForm.controls['hijosVivos'].errors?.['pattern']">
        <h6>Solo numeros.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <label>Gestas</label>
    <input type="text"
    name="numGestas"
    id="numGestas"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numGestas">
    <div class="text-danger" *ngIf="validarNumeroGestas()">
      <h6>{{mensaje}}</h6>
    </div>
    <div class="text-danger" *ngIf="antecedentesForm.controls['numGestas'].invalid && (antecedentesForm.controls['numGestas'].dirty || antecedentesForm.controls['numGestas'].touched)">
      <div *ngIf="antecedentesForm.controls['numGestas'].errors?.['pattern']">
        <h6>Solo numeros.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <label>Abortos</label>
    <input type="text"
    name="numAborts"
    id="numAborts"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numAborts">
    <div class="text-danger" *ngIf="antecedentesForm.controls['numAborts'].invalid && (antecedentesForm.controls['numAborts'].dirty || antecedentesForm.controls['numAborts'].touched)">
      <div *ngIf="antecedentesForm.controls['numAborts'].errors?.['pattern']">
        <h6>Solo numeros.</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <label>Partos</label>
    <input type="text"
    name="numPartos"
    id="numPartos"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    [(ngModel)]="antecedentesGinecobstetricos.numPartos">
  </div>
  <div class="col" [formGroup]="antecedentesForm">
    <label>Cesareas</label>
    <input type="text"
    name="numCesareas"
    id="numCesareas"
    placeholder=""
    class="form-control"
    maxLength="20"
    style="max-width: 100%;"
    formControlName="numCesareas"
    [(ngModel)]="antecedentesGinecobstetricos.numCesareas">
    <div class="text-danger" *ngIf="antecedentesForm.controls['numCesareas'].invalid && (antecedentesForm.controls['numCesareas'].dirty || antecedentesForm.controls['numCesareas'].touched)">
      <div *ngIf="antecedentesForm.controls['numCesareas'].errors?.['pattern']">
        <h6>Solo numeros.</h6>
      </div>
    </div>
  </div>
</div>
