<!--Este archivo tiene que mostrar los datos del paciente, puede ser en un modal-->
<!-- <form class="form-horizontal" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row form-div-padding">
      <div class="col">
        <h3>Portada Paciente</h3>
      </div>
    </div>

    <div class="row form-div-padding">
      <div class="col">
        <label for="folio">Folio:</label>
        <input type="text" id="folio" name="folio" [(ngModel)]="folio" class="form-control" required>
      </div>
    </div>

    <div class="row form-div-padding">
      <div class="col">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" [(ngModel)]="nombres" class="form-control" required>
      </div>
    </div>

    <div class="row form-div-padding">
      <div class="col">
        <label for="apellidoPaterno">Apellido Paterno:</label>
        <input type="text" id="apellidoPaterno" name="apellidoPaterno" [(ngModel)]="apellidoPaterno" class="form-control" required>
      </div>
    </div>

    <div class="row form-div-padding">
      <div class="col">
        <label for="apellidoMaterno">Apellido Materno:</label>
        <input type="text" id="apellidoMaterno" name="apellidoMaterno" [(ngModel)]="apellidoMaterno" class="form-control">
      </div>
    </div> -->

    <!-- Add more fields as necessary -->
<!--
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div> -->
