<div class="row form-div-padding">
<div class="col">
    <label>Labios</label>
      <textarea type="text"
      name="observacionesLabios"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>

  <div class="col">
    <label>Encias</label>
      <textarea type="text"
      name="observacionesEncias"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>

  <div class="col">
    <label>Lengua</label>
      <textarea type="text"
      name="observacionesLengua"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>

  <div class="col">
    <label>Carrillos</label>
    <textarea type="text"
      name="carrillos"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>
</div>

<div class="row form-div-padding">
  <div class="col">
    <label>Paladar</label>
      <textarea type="text"
      name="observacionesPaladar"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>

  <div class="col">
    <label>Piso de la boca</label>
    <textarea type="text"
      name="observacionesPisoBoca"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>
  </div>


  <div class="col">
    <label>Art. Temporomand.</label>
      <textarea type="text"
      name="observacionesArticulacionTempMand"
      class="form-control"
      size="15"
      maxLength="15"
      style="max-width: 100%;"
      cols="40"
      rows="3">
    </textarea>

  </div>
</div>

<div class="row form-div-padding">
  <div class="col">
    <label>¿Se observa gingivitis?</label><br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="tieneGingivitis" name="tieneGingivitis" value="S" formControlName="tieneGingivitis">
      <label class="form-check-label" for="inlineRadio1">Si</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="tieneGingivitis" name="tieneGingivitis" value="N" formControlName="tieneGingivitis">
      <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
  </div>
</div>
