<div class="row form-div-padding">
  <div class="col d-inline-block">
    <input type="submit" value="Buscar paciente" class="btn btn-outline-primary btn-sm d-inline-block" (click)="cargarModal()">

    <div class=" form-div-padding d-inline-block">
      <label>Nombre</label>
      <input type="text"
      name="nombre"
      placeholder="Nombre(s)"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.nombrePropio1"
      (input)="utils.convertirAMayusculas($event)">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="apellidoPaterno"
      placeholder="Apellido paterno"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.apellidoPaterno"
      (input)="utils.convertirAMayusculas($event)">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="apellidoMaterno"
      placeholder="Nombre(s)"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.apellidoMaterno"
      (input)="utils.convertirAMayusculas($event)">
    </div>
  </div>
</div>

<div class="row form-div-padding">
  <div class="col d-inline-block">
    <div class=" form-div-padding d-inline-block">
      <input type="text"
      id="edad"
      name="edad"
      placeholder="Edad"
      class="form-control bloque infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.edad">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="sexoAlNacer"
      placeholder="Sexo"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.sexoAlNacer">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="fechaNacimiento"
      placeholder="Fecha de nacimiento"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.fechaNacimiento">
    </div>
  </div>
</div>

<div class="row form-div-padding">
  <div class="col d-inline-block">
    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="domicilio"
      placeholder="Domicilio"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="localidad"
      (input)="utils.convertirAMayusculas($event)">
    </div>

    <div class="form-div-padding d-inline-block">
      <input type="text"
      name="telefono"
      placeholder="Telefono"
      class="form-control infoPacienteId"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="telefono">
    </div>
  </div>

  <div class="row form-div-padding">
    <div class="col d-inline-block">
      <div class="form-div-padding d-inline-block">
        <label>Motivo de consulta</label>
        <input type="text"
        name="motivoConsulta"
        placeholder="Ej: Entumecimiento hemisferio derecho"
        class="form-control infoPacienteId"
        maxLength="200"
        style="max-width: 100%;"
        [(ngModel)]="form.motivoConsulta"
        (input)="utils.convertirAMayusculas($event)">
      </div>

      <div class="form-div-padding d-inline-block">
        <label>Fecha ultimo examen medico</label>
        <input type="text"
        name="fechaUltimoExMedico"
        placeholder="DD/MM/AAAA"
        class="form-control infoPacienteId"
        maxLength="10"
        style="max-width: 100%;"
        [(ngModel)]="form.fechaUltimoExMedico">
      </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="nrFechaUltimaCitologia" id="nrFechaUltimaCitologia">
          <label class="form-check-label" for="inlineRadio3">No recuerda</label>
        </div>

    </div>
  </div>
</div>
