<div class="row form-div-padding">
  <div class="col d-inline-block">
    <input type="submit" value="Buscar paciente" class="btn btn-outline-primary btn-sm d-inline-block" (click)="cargarModal()">

    <div class=" form-div-padding d-inline-block">
      <label>Nombre</label>
      <input type="text"
      name="nombre"
      placeholder="Nombre(s)"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.nombrePropio1">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="apellidoMaterno"
      placeholder="Apellido materno"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.apellidoPaterno">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="nombre"
      placeholder="Nombre(s)"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.apellidoMaterno">
    </div>
  </div>
</div>

<div class="row form-div-padding">
  <div class="col d-inline-block">
    <div class=" form-div-padding d-inline-block">
      <input type="text"
      id="edad"
      name="edad"
      placeholder="Edad"
      class="form-control bloque"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.edad">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="nombre"
      placeholder="Sexo"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.sexoAlNacer">
    </div>

    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="nombre"
      placeholder="Fecha de nacimiento"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="form.fechaNacimiento">
    </div>
  </div>
</div>

<div class="row form-div-padding">
  <div class="col d-inline-block">
    <div class=" form-div-padding d-inline-block">
      <input type="text"
      name="nombre"
      placeholder="Domicilio"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="localidad">
    </div>

    <div class="form-div-padding d-inline-block">
      <input type="text"
      name="nombre"
      placeholder="Telefono"
      class="form-control"
      maxLength="20"
      style="max-width: 100%;"
      [(ngModel)]="telefono"
      >
    </div>
  </div>

  <div class="row form-div-padding">
    <div class="col d-inline-block">
      <div class=" form-div-padding d-inline-block">
        <label>Motivo de consulta</label>
        <input type="text"
        name="apellidoPaterno"
        placeholder=""
        class="form-control"
        maxLength="200"
        style="max-width: 100%;"
        [(ngModel)]="form.motivoConsulta">
      </div>

      <div class=" form-div-padding d-inline-block">
        <label>Fecha ultimo examen medico</label>
        <input type="text"
        name="apellidoPaterno"
        placeholder=""
        class="form-control"
        maxLength="200"
        style="max-width: 100%;"
        formControlName="otraDerechoHaciencia">
      </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="nrFechaUltimaCitologia" id="nrFechaUltimaCitologia">
          <label class="form-check-label" for="inlineRadio3">No recuerda</label>
        </div>

    </div>
  </div>
<p>tel:{{telefono}}{{localidad}}</p>
</div>
