
<div class="row form-div-padding">
  <br><br><h3>Datos de contacto</h3>
  <div class="col">
    <label>Num. Telefono</label>
    <input type="tel"
    name="telefono"
    placeholder="S/N"
    class="form-control"
    maxLength="20"
    style="max-width: 50%;"
    [(ngModel)]="datosContacto.numeroTelefonico">
  </div>
  <div class="col">
    <label>Correo electronico</label>
    <input type="email"
    name="email"
    placeholder="S/N"
    class="form-control"
    maxLength="20"
    style="max-width: 50%;"
    [(ngModel)]="datosContacto.correoElectronico"
    >
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
